<div {% if field.identifier %}id="{{ field.identifier }}"{% endif %}
     class="{{ field.wrap_classes|default('') }}"
>
{% if field.label %}
    <h2>{{ field.label }}</h2>
{% else %}
    <hr>
{% endif %}

    {{ field.help_text|default('')|raw }}
</div>
