<div {% if field.identifier %}id="{{ field.identifier }}"{% endif %}
     class="{{ field.wrap_classes|default('') }}"
>
{% for child in field.children %}
    {% include child.general_type ~ '/' ~ child.general_type ~ '.twig' with {
        field: child
    } %}
{% endfor %}
</div>
