<div id="{{ field.identifier }}" class="{{ field.classes|default('') }}">
    {% include 'help_text/help_text.twig' %}

    {% for child in field.children %}
        {% include child.general_type ~ '/' ~ child.general_type ~ '.twig' with {
            field: child
        } %}
    {% endfor %}
</div>
