<div id="{{ field.identifier }}" class="{{ field.classes|default('') }}">
    {{ field.help_text|default('')|raw }}

    {% for child in field.children %}
        {% include child.general_type ~ '/' ~ child.general_type ~ '.twig' with {
            field: child
        } %}
    {% endfor %}
</div>
